* {
    font-family: fantasy, "Comic Sans MS", arial;
}
.title { 
    width: 90%;
    margin: auto;
    background-color: rgb(50, 50, 50);
    border-radius: 20px;
    border: outset 4px rgb(50, 250, 90);
    color: white;
    font-weight: bold;
    padding: 10px;
}
.center {
    overflow: auto;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    padding: 10px;
    border-style: solid;
    border-color: rgb(100, 100, 100);
}
.center:hover {
    border-color: rgb(0, 0, 0);
}
div.gallery {
  margin: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  float: left;
  color: white;
  background-color: black;
  width: 180px;
  height: 180px;
  transition-property: background-color color width height;
  transition-duration: 2s;
}

div.gallery:hover {
  border: 1px solid #777;
  color: black;
  background-color: white;
}

div.gallery img {
  display: block;
  max-width: 100%;
  max-height: 66%;
  margin-left: auto;
  margin-right: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

